:root {
  --ColorBlack: #363062;
  --ColorGrey: #4d4c7d;
  --ColorOrange: #f99417;
  --Colorwhite: #f5f5f5;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--Colorwhite);
  box-sizing: border-box;
}

p {
  font-size: 1.25em;
}

a {
  text-decoration: none;
}

header {
  background-color: var(--ColorGrey);
  position: fixed;
  width: 100%;
  height: 100px;
  box-shadow: 6px 6px 12px #000000, -3px -3px 12px #ffffff;
  z-index: 1;
}

header .header__container {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  align-items: center;
  height: 100px;
}

.header__logo {
  width: 100px;
  filter: drop-shadow(-8px 3px 8px #000);
}

.nav .list-nav {
  text-decoration: none;
  font-weight: bold;
  color: var(--Colorwhite);
  transition: all 0.5s;
  position: relative;
  display: inline-block;
}

.nav .list-nav:hover {
  color: var(--ColorOrange);
  transform: scale(1.1);
}

.list-nav::before {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: var(--ColorOrange);
  border-radius: 4px;
  scale: 0 1;
  transform-origin: right;
  transition: scale 0.25s;
}

.list-nav:hover::before {
  scale: 1;
  transform-origin: left;
}

/* Hamburguer */

.btn__menu button {
  padding: 14px;
  display: flex;
  flex-direction: column;
  width: 3.5rem;
  height: 3.5rem;
  border: 0;
  background-color: var(--ColorGrey);
  gap: 0.65rem;
}

.btn__menu button:hover {
  cursor: pointer;
}

.btn__menu button > div {
  padding: 1px;
  background: var(--Colorwhite);
  height: 2px;
  width: 35px;
  border-radius: 5px;
  transition: all 0.5s;
  transform-origin: left;
}

.hamburguer div:first-child {
  transform: rotate(45deg);
}

.hamburguer div:nth-child(2) {
  opacity: 0;
}

.hamburguer div:last-child {
  transform: rotate(-45deg);
}

.nav {
  display: grid;
  place-items: center;
  width: 100%;
  height: 0;
  pointer-events: none;
  overflow: hidden;
  transition: all 0.5s ease;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
  font-family: "Poppins", sans-serif;
}

.nav.Activo {
  height: 100vh;
  pointer-events: auto;
  background-color: var(--ColorGrey);
  background-image: linear-gradient(
    to top,
    #363062,
    #3c3769,
    #413e6f,
    #474576,
    #4d4c7d
  );
}

.list-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
}


  #hero {
    overflow: hidden;
}
  .hero__container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    transition: all 0.5s ease-in;
    align-items: stretch;
    height: 100vh;
  }

.hero__container img {
  width: 100%;
  filter: blur(5px);
}


.img__hero {
  position: absolute;
  width: 60%; 
  height: auto; 
  top: 25%; 
  left: 20%; 
  transform: translateX(-50%); 
  border-radius: 10%;

  animation: float 4s ease-in-out infinite;
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
}

#hero .hero__tittle {
  position: absolute;
  top: 80%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  width: 80%; 
  font-size: 40px; 
  text-align: center;
}

.container__tittle, .hero__tittle {
  font-family: "Poppins", sans-serif;
  font-size: 45px;
  color: var(--ColorBlack);
  text-align: center;
}

.typedEffect{
  color: var(--ColorOrange);
  
}

#Sobremi .container {
  padding: 100px 12px;
}


.sobremi__container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 70px;
}


.sobremi__container__img {
  display: flex;
  justify-content: center;
}

.sobremi__img {
  width: 300px;
  height: 450px;
  border-radius: 30px;
  box-shadow: 6px 6px 12px #000000, -3px -3px 12px #ffffff;
}

.container__contenido {
  background: rgb(236, 236, 236);
  display: flex;
  border-radius: 20px;
  flex-direction: column;
  width: 85%;
  padding: 20px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

#Tecnologias {
  background-color: var(--ColorBlack);
}

.Tecnologias__container .container__tittle {
  font-family: "Poppins", sans-serif;
  font-size: 45px;
  color: var(--Colorwhite);
}

.Tecnologias__subtittle{
  font-size: 25px;
  color: var(--Colorwhite);
  text-align: center;
  font-family: "Montserrat", sans-serif;
  padding: 20px;
}

.Tecnologias__container {
  display: flex;
  flex-direction: column;
  color: var(--Colorwhite);
  text-align: center;
  padding: 100px 12px;
}

.Tecnologias__container .image__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: wrap;
  gap: 50px 30px;
}

.img__tec {
  border-radius: 20%;
}

#cursos .cursos__container {
  text-align: center;
  padding: 100px 12px;
}

.cursos__contenido {
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

#Misproyectos {
  color: var(--ColorBlack);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.misproyectos__container .container__cartas {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  border-radius: 20px;
  background-color: var(--ColorOrange);
  box-shadow: 15px 15px 30px rgb(25, 25, 25), -15px -15px 30px rgb(60, 60, 60);
  gap: 50px;
  margin: 10px 40px;
}

#contacto .container__contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.form__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: linear-gradient(
      50deg,
      rgb(253, 163, 53),
      rgba(253, 163, 53, 0.1)
    ),
    url(../img/seccionContacto/fondo-form.jpg);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px;
  width: 90%;
  border-radius: 25px;
  text-align: center;
}

.form__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.form__container .form__subtittle {
  color: var(--ColorBlack);
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 40px;
}

.form__content div {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.form__content div label {
  font-family: "Montserrat", sans-serif;
  color: #000;
  font-size: 23px;
}

.form__content div input,
textarea {
  font-family: "Montserrat", sans-serif;
  border: none;
  padding: 20px;
  border-radius: 15px 15px 0 15px;
}

.form__content .textarea {
  flex-direction: column;
}

#comments {
  max-width: 500px;
  font-size: 17px;
}

.btn__enviar {
  padding: 30px;
  width: 150px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: var(--Colorwhite);
  background-color: var(--ColorGrey);
  transition: all 0.5s;
  box-shadow: -4px 5px 12px 7px rgba(249, 148, 23, 0.75);
  -webkit-box-shadow: -4px 5px 12px 7px rgba(249, 148, 23, 0.75);
  -moz-box-shadow: -4px 5px 12px 7px rgba(249, 148, 23, 0.75);
}

.btn__enviar:hover {
  background-color: var(--ColorBlack);
  transform: scale(1.1);
}

.footer__container {
  background-color: var(--ColorBlack);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 10px;
  gap: 25px 0;
  height: 50vh;
}

.footer__logo {
  width: 250px;
  animation: rotar 5s linear infinite;
}


@keyframes rotar {
  from{
    transform: rotateY(180deg);
  }
  to {
    transform: rotateY(-180deg);
  }
}

.footer__container .nav {
  flex-direction: column;
  flex-flow: wrap;
  font-size: 16px;
  justify-content: center;
}

.links__icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.links__icons span {
  width: 200px;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: var(--Colorwhite);
}

.links__icons a {
  list-style: none;
  margin: 20px;
  transition: all 0.5s;
}

.links__icons a:hover {
  list-style: none;
  margin: 20px;
  transform: scale(1.2);
}

a svg {
  width: 50px;
  height: 50px;
  color: var(--ColorOrange);
}

@media screen and (min-width: 768px) {
  header .header__container {
    padding: 0;
  }

  .header__logo {
    width: 130px;
  }

  .hero__container .container__tittle {
    font-size: 25px;
    text-align: end;
    color: var(--Colorwhite);
    width: 100%;
    text-align: center;
    margin-top: 100px;
  }

  .hero__container .img__hero {
    width: 250px;
    height: 350px;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 18px 10px #f99417;
    box-shadow: 0px 0px 18px 10px #f99417;
  }

  .sobremi__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
  }

  .container__contenido {
    width: 90%;
  }

  .container .container__tittle {
    text-align: center;
  }

  .container__cartas {
    margin: 30px;
  }

  .container__contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  }

  .form__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: linear-gradient(
        50deg,
        rgb(253, 163, 53),
        rgba(253, 163, 53, 0.1)
      ),
      url(../img/seccionContacto/fondo-form.jpg);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    width: 90%;
    border-radius: 25px;
  }

  .form__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .form__container .form__subtittle {
    color: var(--ColorBlack);
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 40px;
  }

  .form__content div {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .form__content div label {
    font-family: "Montserrat", sans-serif;
    color: #000;
    font-size: 23px;
  }

  .form__content div input,
  textarea {
    font-family: "Montserrat", sans-serif;
    border: none;
    padding: 20px;
    border-radius: 15px 15px 0 15px;
  }

  .form__content .textarea {
    flex-direction: column;
  }

  #comments {
    max-width: 500px;
    font-size: 17px;
  }

  .btn__enviar {
    padding: 30px;
    width: 150px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: var(--Colorwhite);
    background-color: var(--ColorGrey);
    transition: all 0.5s;
    box-shadow: -4px 5px 12px 7px rgba(249, 148, 23, 0.75);
    -webkit-box-shadow: -4px 5px 12px 7px rgba(249, 148, 23, 0.75);
    -moz-box-shadow: -4px 5px 12px 7px rgba(249, 148, 23, 0.75);
  }

  .btn__enviar:hover {
    background-color: var(--ColorBlack);
    transform: scale(1.1);
  }

  .footer__logo {
    width: 250px;
  }

  .footer__container {
    height: auto;
    display: flex;
    justify-content: space-around;
  }


  .footer__container .nav {
    flex-direction: column;
    flex-flow: wrap;
    font-size: 16px;
    justify-content: center;
  }

  .links__icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .links__icons span {
    width: 200px;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    color: var(--Colorwhite);
  }

  .links__icons a {
    list-style: none;
    margin: 20px;
    transition: all 0.5s;
  }

  .links__icons a:hover {
    list-style: none;
    margin: 20px;
    transform: scale(1.2);
  }

  a svg {
    width: 50px;
    height: 50px;
    color: var(--ColorOrange);
  }
}

@media screen and (min-width: 992px) {
  header {
    position: fixed;
    width: 100%;
  }

  .header__container {
    display: flex;
    height: 200px;
  }

  .header__logo {
    width: 150px;
  }

  .nav {
    overflow: inherit;
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    align-items: center;
    width: auto;
    pointer-events: all;
    font-size: 20px;
  }

  header .btn__menu {
    display: none;
  }

  #hero {
    overflow: hidden;
}
  .hero__container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    transition: all 0.5s ease-in;
    align-items: stretch;
    height: auto;
  }

  .hero__container img {
    width: 100%;
    filter: blur(5px);
  }

  .img__hero {
    position: absolute;
    top: 35%;
    left: 10%;
    width: 560px;
    height: 650px;
    border-radius: 10%;
    box-shadow: 1px 16px 18px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 16px 18px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 16px 18px 0px rgba(0,0,0,0.75);

    animation: float 4s ease-in-out infinite;
  }

  @keyframes float {
    0% {
      box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
      transform: translatey(0px);
    }
    50% {
      box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
      transform: translatey(-20px);
    }
    100% {
      box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
      transform: translatey(0px);
    }
  }

  #hero .hero__tittle {
    position: absolute;
    top: 40%;
    left: 35%;
    padding: 0;
    margin: 0;
    font-size: 70px;
    text-align: start;
    color: var(--Colorwhite);
    width: 40%;
    transform: none;
  }

  .container__tittle, .hero__tittle {
    font-family: "Poppins", sans-serif;
    font-size: 45px;
    color: var(--ColorBlack);
    text-align: center;
  }

  .sobremi__container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .sobremi__container__img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
  }

  .sobremi__img {
    width: 350px;
    height: 500px;
    border-radius: 30px;
    box-shadow: 6px 6px 12px #000000, -3px -3px 12px #ffffff;
    transition: all 0.7s;
  }

  .sobremi__img:hover {
    transform: scale(1.1);
  }

  .container__contenido {
    display: flex;
    flex-direction: column;
    width: 55%;
    font-family: "Montserrat", sans-serif;
    text-align: center;
  }

  .Tecnologias__container .image__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;
    gap: 50px 30px;
  }

  #Misproyectos {
    padding: 30px;
  }

  .misproyectos__container .container__cartas {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 30px 50px;
    border-radius: 20px;
    background-color: var(--ColorOrange);
    box-shadow: 15px 15px 30px rgb(25, 25, 25), -15px -15px 30px rgb(60, 60, 60);
    gap: 50px;
    margin: 15px 50px;
  }

  .container__contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  }

  .form__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: linear-gradient(
        50deg,
        rgb(253, 163, 53),
        rgba(253, 163, 53, 0.1)
      ),
      url(../img/seccionContacto/fondo-form.jpg);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    width: 40%;
    border-radius: 25px;
  }

  .form__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .form__container .form__subtittle {
    color: var(--ColorBlack);
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 40px;
  }

  .form__content div {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .form__content div label {
    font-family: "Montserrat", sans-serif;
    color: #000;
    font-size: 23px;
  }

  .form__content div input,
  textarea {
    font-family: "Montserrat", sans-serif;
    border: none;
    padding: 20px;
    border-radius: 15px 15px 0 15px;
  }

  .form__content .textarea {
    flex-direction: column;
  }

  #comments {
    max-width: 500px;
    font-size: 17px;
  }

  .btn__enviar {
    padding: 30px;
    width: 150px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: var(--Colorwhite);
    background-color: var(--ColorGrey);
    transition: all 0.5s;
    box-shadow: -4px 5px 12px 7px rgba(249, 148, 23, 0.75);
    -webkit-box-shadow: -4px 5px 12px 7px rgba(249, 148, 23, 0.75);
    -moz-box-shadow: -4px 5px 12px 7px rgba(249, 148, 23, 0.75);
  }

  .btn__enviar:hover {
    background-color: var(--ColorBlack);
    transform: scale(1.1);
  }

  .footer__logo {
    width: 200px;
  }

  .footer__container {
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .footer__container .nav {
    flex-direction: column;
    flex-flow: wrap;
    font-size: 16px;
    justify-content: center;
  }

  .links__icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .links__icons span {
    width: 200px;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    color: var(--Colorwhite);
  }

  .links__icons a {
    list-style: none;
    margin: 20px;
    transition: all 0.5s;
  }

  .links__icons a:hover {
    list-style: none;
    margin: 20px;
    transform: scale(1.2);
  }

  a svg {
    width: 50px;
    height: 50px;
    color: var(--ColorOrange);
  }
}