* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

h1 {
  font-size: 3.5em;
}

h2 {
  font-size: 2.7em;
  font-family: 'Merriweather', serif;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.4em;
}

p {
  font-size: 1.25em;
}

a {
  text-decoration: none;
  color: #000;
}

.container {
  max-width: 1400px;
  margin: auto;
}

header {
  background-color: white;
  position: fixed;
  width: 100%;
  box-shadow: 6px 6px 12px #000000,
    -3px -3px 12px #ffffff;
  z-index: 1;
}

header .logo {
  font-family: "Oswald", sans-serif;
  font-size: 40px;
  display: block;
  background: linear-gradient(270deg, #3e79f9, #615454);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

header .container {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
}

header .list-nav {
  text-decoration: none;
  font-weight: bold;
  color: #424242;
}

header .list-nav:hover {
  color: #0101df;
}

.list-nav{
  position: relative;
  display: inline-block;
}

.list-nav::before {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #0101df;
  border-radius: 4px;
  scale: 0 1;
  transform-origin: right;
  transition: scale 0.25s;
}

.list-nav:hover::before{
  scale: 1;
  transform-origin: left;
}

.IR {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.IR:hover {
  background-color: #659aef;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.IR:active {
  transform: translateY(-1px);
}

/* Hamburguer */

.hamburguer {
  display: block;
  width: 60px;
  height: 50px;
  cursor: pointer;
  background-color: #5499f4;
  border-radius: 10px;
  border: #fff;
}

.svg {
  width: 40px;
  height: 40px;
  color: #ffffff;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 150px;
}

.nav {
  display: grid;
  place-items: center;
  width: 100%;
  height: 0;
  pointer-events: none;
  overflow: hidden;
  transition: all 0.5s ease;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.nav.Activo {
  height: 45vh;
  pointer-events: auto;
}

.list-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
}

#hero {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  flex-flow: wrap;
  height: 90vh;
  color: white;
  background-image: linear-gradient(0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)),
    url(img/hero2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 70% 85%, 50% 100%, 30% 85%, 0 85%);
}


.img-sobremi {
  width: 250px;
  height: 300px;
  border-radius: 30px;
  box-shadow: 6px 6px 12px #000000,
    -3px -3px 12px #ffffff;
}


#Sobremi .container {
  text-align: center;
  padding: 100px 12px;
}

.p {
  padding: 50px 10px;
  background: rgb(236, 236, 236);
  border-radius: 20px;
  box-shadow: inset 4px 4px 12px #c5c5c5,
    inset -4px -4px 12px #ffffff;
}

#Tec-conocidas {
  background-color: #424242;
  clip-path: polygon(0 20%, 100% 0%, 100% 80%, 0 100%, 0 50%);
}

#Tec-conocidas .container {
  color: white;
  text-align: center;
  padding: 100px 12px;
  display: grid;
}

#Tec-conocidas .image-container {
  padding: 10px 0;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  gap: 30px;
  /* border: 1px solid #000000; */
  border-radius: 10px;
}

.img-tec {
  height: 50px;
  width: 70px;
  border-radius: 20px;
}

#cursos .container {
  text-align: center;
  padding: 100px 12px;
}

#Mis-proyectos {
  background-color: #424242;
  color: white;
  text-align: center;
  clip-path: polygon(50% 0%, 100% 15%, 100% 100%, 0 100%, 0 15%);
}

#Mis-proyectos .container {
  padding: 150px 30px;
}

#Mis-proyectos h2 {
  margin-top: 0;
}

#Mis-proyectos p {
  display: none;
}

#Mis-proyectos .cartas {
  display: flex;
  flex-flow: wrap;
  gap: 30px;
  padding: 30px 0;
}

/*  CARTA ESTILO : */
.card {
  width: 290px;
  height: 354px;
  margin: 0 auto;
  background-color: #011522;
  border-radius: 8px;
  box-shadow: 15px 15px 30px rgb(25, 25, 25),
             -15px -15px 30px rgb(60, 60, 60);
}

.tools {
  display: flex;
  align-items: center;
  padding: 9px;
}

.circle {
  padding: 0 4px;
}

.box {
  display: inline-block;
  align-items: center;
  width: 10px;
  height: 10px;
  padding: 1px;
  border-radius: 50%;
}

.red {
  background-color: #ff605c;
}

.yellow {
  background-color: #ffbd44;
}

.green {
  background-color: #00ca4e;
}

/* -------------- */

.card__content {
  display: grid;
  justify-content: center;
  gap: 10px;
}

.titulo-card{
  font-size: 13px;
}

.button-card {
  color: #090909;
  padding: 0.7em 1.7em;
  font-size: 18px;
  cursor: pointer;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  transition: all .3s;
  box-shadow: 6px 6px 12px #c5c5c5,
    -3px -3px 12px #ffffff;
}

.button-card:active {
  color: rgb(0, 0, 0);
  box-shadow: inset 4px 4px 12px #c5c5c5,
    inset -4px -4px 12px #ffffff;
}

.img-carta {
  width: 150px;
  height: 150px;
  border-radius: 30px;
}

#contactame .container {
  text-align: center;
}

#contactame {
  margin: 15px 15px;
}

#contactame .links {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  gap: 30px;
  height: 50px;
}

.svg-contac {
  color: #000;
  height: 40px;
  width: 40px;
  justify-content: space-around;
  transition: 0.5s all;
}

footer {
  text-shadow: 1px 1px 15px black;
}

footer .copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

@media screen and (min-width: 920px) {
  header {
    position: fixed;
    width: 100%;
  }

  header .container {
    flex-direction: row;
    justify-content: space-between;
  }

  header p {
    display: flex;
    align-items: center;
  }

  .nav {
    overflow: inherit;
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    align-items: center;
    width: auto;
    pointer-events: all;
  }

  header .hamburguer {
    display: none;
  }

  h1 {
    font-size: 5em;
  }

  .img-sobremi {
    display: block;
    width: 350px;
    height: 400px;
    border-radius: 30px;
    box-shadow: 6px 6px 12px #000000,
    -3px -3px 12px #ffffff;
  }

  .Sobremi{
    position: relative;
  }


  .sobremi-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

  }

  #Tec-conocidas .image-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  #Tec-conocidas .otros {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  #Mis-proyectos {
    padding: 30px;
  }

  #Mis-proyectos .cartas {
    display: flex;
    justify-content: center;
    padding: 30px 30px;
    border-radius: 20px;

    background-color: #6e6e6e;
    box-shadow: 15px 15px 30px rgb(25, 25, 25),
             -15px -15px 30px rgb(60, 60, 60);
  }

  /* Carta OPCION NUMERO 1*/
  .card {
    width: 290px;
    height: 354px;
    margin: 0 auto;
    background-color: #011522;
    border-radius: 8px;
    box-shadow: 15px 15px 30px rgb(25, 25, 25),
             -15px -15px 30px rgb(60, 60, 60);
  }

  .tools {
    display: flex;
    align-items: center;
    padding: 9px;
  }

  .circle {
    padding: 0 4px;
  }

  .box {
    display: inline-block;
    align-items: center;
    width: 10px;
    height: 10px;
    padding: 1px;
    border-radius: 50%;
  }

  .red {
    background-color: #ff605c;
  }

  .yellow {
    background-color: #ffbd44;
  }

  .green {
    background-color: #00ca4e;
  }

  /* ----------------------------------------- */

.card__content {
  display: grid;
  justify-content: center;
  gap: 10px;
}

.titulo-card{
  font-size: 13px;
}

.button-card {
  color: #090909;
  padding: 0.7em 1.7em;
  font-size: 18px;
  cursor: pointer;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  transition: all .3s;
  box-shadow: 6px 6px 12px #c5c5c5,
    -3px -3px 12px #ffffff;
}

.button-card:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5,
    inset -4px -4px 12px #ffffff;
}

  #Mis-proyectos p {
    display: block;
    margin-bottom: 30px;
  }

  #Mis-proyectos h3 {
    margin-top: 0;
  }

  #Mis-proyectos .carta {
    display: none;
    padding: 50px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  }

  a {
    text-decoration: none;
  }

  .svg-contac:hover{
    height: 50px;
    width: 50px;
  }
}